/* Section Titles */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--forth-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--forth-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}