/*===== HOME =====*/
#home {
  position: relative;
  row-gap: 5rem;
  /* padding: 4rem 0 5rem; */
  padding-top: 10rem;
}

#home .data {
  align-self: center;
}

#home .title {
  font-size: var(--big-font-size);
  /* margin-bottom: var(--mb-5); */
  /* margin-top: var(--mb-5); */
}

#home .title-color {
  color: var(--first-color);
}

#home .text {
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-2);
  font-size: var(--medium-font-size);
}

#home .button {
  margin-top: var(--mb-2);
  margin-bottom: 0px;
}

#home .social {
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
}

#home .social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 2rem;
  color: var(--first-color);
}

#home .social-icon:hover {
  color: var(--third-color);
}

#home .img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
  margin-bottom: var(--mb-5)
}